/examples/language_modelling/*.pt
/examples/language_modelling/*.json
/examples/language_modelling/*.png
/**/__pycache__
/src/wave_transformer/core/__pycache__
/src/wave_transformer/__pycache__
/src/WaveTransformer.egg-info
/examples/language_modelling/prepared_datasets
/examples/sst_tts/VCTK-Corpus-0.92
/src/wave_transformer/audio/__pycache__
/examples/language_modelling/pre-train/prepared_datasets/
/examples/language_modelling/pre-train/results/
/.idea/*


/examples/language_modelling/pre-train/wandb
/examples/language_modelling/epoch_0_batch_4999.zip
/examples/language_modelling/epoch_0_batch_4999/
/examples/language_modelling/epoch_0_batch_9999
examples/language_modelling/epoch_0_batch_9999.zip
/examples/language_modelling/epoch_0_batch_14999
/examples/language_modelling/epoch_0_batch_19999
examples/language_modelling/epoch_0_batch_14999.zip
examples/language_modelling/epoch_0_batch_19999.zip
