/examples/language_modelling/*.pt
/examples/language_modelling/*.json
/examples/language_modelling/*.png
/src/wave_transformer/language_modelling/__pycache__
/src/wave_transformer/core/__pycache__
/src/wave_transformer/__pycache__
/src/WaveTransformer.egg-info
/examples/language_modelling/prepared_datasets
/examples/sst_tts/VCTK-Corpus-0.92
